.card-container-desk {
  overflow-y: auto; /* Cambiar a auto para habilitar el desplazamiento vertical solo cuando sea necesario */
  max-height: 400px; /* Altura máxima del carrusel */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 80vh;
}
.card-container::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en navegadores webkit (Chrome, Safari) */
}

.card-container-mob {
  overflow-y: auto; /* Cambiar a auto para habilitar el desplazamiento vertical solo cuando sea necesario */
  max-height: 400px; /* Altura máxima del carrusel */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 80vh;
}
